
div {
    font-family: Arial, Helvetica, sans-serif;
}
/* unvisited link */
a:link {
    color: black;
    text-decoration: none !important;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: whitesmoke;
  }

.center {
    text-align: center;
}

.status {
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mainLayout{
 margin:auto;
 width:50%;
 
}
.title {
    font-weight: bold;
    margin-top:5rem;
    text-align: center;
    font-size: 3.5rem;
    margin-bottom:20px;
}
.title-deco {
    color:rgb(192, 67, 29);
}


.contact-text {
    margin-bottom:10px;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}
